<div class="episode {{#unless premiered}} faded {{/unless}} {{#if removed}} removed {{/if}}" >
	<div class="show-image-container">
		<img class="show-image" src="{{#if alternativeStyle}}{{image_url}}{{else}}{{show.image_url}}{{/if}}" alt="">
	</div>
	<div class="episode-info">
		<div class="show-name">
			<a href="/show/{{show.name}}"><strong>{{show.name}}</strong></a>
		</div>
		<span class="date">{{date_formatted}}</span>
		<div class="episode-name">{{name}}</div>
		<div class="summary">{{{summary}}}</div>
		<div class="episode-footer">
			<span class="season-number">Season {{season}}, Episode {{number}}</span>
			 {{#if premiered}}
				{{#unless removed}}<input class="btn btn-warning remove-button" type="button" value="Remove" data-episode_id="{{_id}}">{{/unless}}
				<input class="btn btn-success download-button" type="button" data-toggle="modal" data-target="#torrent-results-modal" value="Download" data-episode_id="{{_id}}">
			{{/if}}
		</div>
	</div>
</div>