<tr class="table-entry" id="{{hashString}}">
	<td width="30%" id="name">
		{{name}}
	</td>
	<td id="uid">
		{{id}}
	</td>
	<td id="downloadRate">
		 {{downloadRate}}
	</td>
	<td width="25%" id="progress">
		<div class="progress" style="height: 20px;">
			<div class="progress-bar {{#if done}}green{{/if}} {{#if error}}red{{/if}}" role="progressbar" style="width: {{progress}}%;" aria-valuenow=" {{progress}}" aria-valuemin="0"
			 aria-valuemax="100">
			</div>
		</div>
	</td>
	<td id="eta">
		 {{eta}}
	</td>
</tr>