<div class="episode">
	<div class="show-image-container">
		<img class="show-image" src="{{show.image_url}}" alt="">
	</div>
	<div class="episode-info">
		<div class="show-name">
			<strong>{{show.name}}</strong>
		</div>
		<span class="date">{{date_formatted}}</span>
		<div class="episode-name">{{name}}</div>
		<div class="summary">{{{summary}}}</div>
		<div class="episode-footer">
			<span class="season-number">Season {{season}}, Episode {{number}}</span>
			<input class="btn btn-warning remove-button" type="button" value="Remove" data-episode_id="{{_id}}">
		</div>
	</div>
</div>